{% for upstream_name in upstreams %}
upstream {{ upstream_name }}_{{ item.split('.')[0] }} {
  server {{ upstreams[upstream_name].server }};
}
{% endfor %}

server {
  listen 80;
  listen [::]:80;

  server_name {{ item }};
  root /var/www/{{ item }};
  index index.html;
  try_files $uri /index.html;
}
